* {
    font-family: 'Roboto', sans-serif;
}
body{
    margin-left: 200px;
    margin-right: 200px;
}

.main-header .top-header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 200px;
    margin-right: 200px;
 
} 


.nav-logo {
    width: 268px;
    height:33px;
    padding: 1.5rem 33px 1.5rem 33px;
    cursor: pointer;
    margin-left: 300px;
    background-color: #fff;
    
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
} 

.section-header {
    max-width: 100%;
    padding: 0 20px;
    margin: auto;
    box-sizing: inherit;
}

.list-header {
    position: relative;
    float: right;
    box-sizing: inherit;
}

.list-menu {
    list-style: none;  
    padding: 1.33rem 0 1.33rem 0;
    display: flex;
    margin-right: 300px;
    background-color: #fff;
}

li {
    margin: 20px;
    color: #00b39b;
    text-decoration: none;

}

.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 10%;

}

.intro-section div {
    display: flex;
    padding: 3%;
    line-height: 1.75;
    justify-content: space-between;
}

.intro-section h1 {
    font-size: 34px;
    color: #00b39b;
    padding: 2%;
    font-weight:lighter;

}

.intro-section div p {
    width: 45%;
    font-weight: 400;
    color: gray;
}

.icon-card {
    width: 29px;
    height: 29px;
}

.cards {
    color: white;
    background-color: #00b39b;
    height: 345px;
    width: 23%;
    padding: 2%;
    border-radius: 10px;

}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    column-gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

#card1 {
    background-color: #00b39b;
    width: 100%;

}

#card2 {
    background-color: #3d83df;
    width: 100%;

}

#card3 {
    background-color: #1b2734;
    width: 100%;

}